package signinView

templ Signin(){
    <div>
        <form method="post">
            <input type="text" id="username" name="username" />
            <input type="password" id="password" name="password"  />
            <input type="submit" />
        </form>
    </div>

}